<div class="container  col-md-6 col-md-offset-3">
	<div class="panel panel-primary">
	  <div class="panel-body">
		<p>
			<div class="form-group">
			    <label for="exampleInputEmail">Search</label>
			    <input type="text" class="form-control" id="exampleInputEmail" placeholder="search" ng-model="searchPhone">
			  </div>
		</p>		  
	  </div>
	</div>
</div>
<div class="clr"></div>
<div class="container jumbotron" ng-repeat="phone in phones | filter:searchPhone">
	<img ng-src="{{phone.imageUrl}}" class="mainImg pull-left">
	<div class="panel panel-primary">
	  <div class="panel-body">
	   <a href="#/phone/{{phone.id}}"><h3 class="phoneName">{{phone.name}}</h3></a>
	   {{phone.snippet}}
	  </div>
	</div>
</div>